# ROS 2 / colcon
build/
install/
log/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/

# C/C++
*.o
*.so
*.a

# IDE / editores
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.log

.colcon/
dist/